@font-face {
    font-family: freeStyle;
    src: url(../fonts/freestyle.ttf);
}
* {
	outline:none;
}
h1, h2 {
	text-transform: uppercase;
}
h1 {
	padding-top: 60px;
}
h2 {
	color: #5b6ceb;
}
h3 {
	font-family: 'freeStyle';
}
.main {
	padding-top: 50px;
	background: url('../images/flower.png') right bottom no-repeat;
}
.block {
	background-size: cover;
}
.header {
	position: fixed;
	width: 100%;
	background:#fff;
	z-index: 20;
	box-shadow: 5px 5px 20px 20px rgba(0,0,0,0.1);
	.logo-mobile, .collapse {
		display: none;
	}
}
.header-menu {
	list-style: none;
	text-align: center;
	&-item {
		display: inline-block;
		vertical-align: middle;
		margin-right: 25px;
		a {
			font-weight: 600;
			position: relative;
			&:hover:after {
				content: "";
				display: inline-block;
				width: 34px;
				height: 1px;
				background: $color-brand;
				position: absolute;
				bottom: -3px;
				left: calc(50% - 17px);
			}
		}
	
	}
	.logo {
		margin: 0 140px 0 115px;
		a:hover:after {
			display: none;
		}
	}
	
}
.btn:hover {

}
.form-group {
	background: #fff;
	border-radius: 20px;
	width: 300px;
	padding: 40px 35px;
	float: left;
	margin: 0 90px 0 280px;
	p {
		font-size: 26px;
		font-weight: 600;
		color: $color-brand;
		
	}
}
.input-invalid {
	border: solid 1px red;
}
.icon-box {
	text-align: center;
	&:first-child {
		margin-bottom: 40px;
	}
	.icon-img {
		border: solid 2px #fff;
		width: 72px;
		height: 72px;
		border-radius: 36px;
	}
	.icon-title {
		font-size: 18px;
		font-weight: bold;
		margin: 15px 0;
	}
	.icon-desc {
		font-size: 16px;
	}
}

.feature {
	position: relative;
	border-radius: 8px;
	background: #ffffff;
	overflow: hidden;
	margin-bottom: 30px;
	height: 300px;
	padding: 0 30px 30px 0;
	box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.1);
	&-image {
		width: 50%;
		float: left;
		margin-right: 30px;
		
	}
	&-title {
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 30px;
		padding-top: 40px;
	}
	&-desc {
		line-height: 22px;
	}
	&-sig {
		color: #999999;
		font-size: 14px;
		margin-top: 15px;
	}
}


.gallery [class*="col-"] {
    padding: 0;
}

.gallery a {
	position: relative;
	display: block;
	img {
		width: 100%;
	}
	&:before {
		content: '';
		position: absolute;
		width: 57px;
		height: 57px;
		border-radius: 100%;
		background: url(../images/icon-search.png) #fff no-repeat;
		background-position: 50% 50%;
		left: calc(50% - 28px);
		top: calc(50% - 28px);
		opacity: 0;
		z-index: 2;
	}
	&:after {
		content: '';
		position: absolute;
		color: black;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: $color-brand;
		opacity: 0;
	}
	&:hover:after {
		opacity: 0.8;
	}
	&:hover:before {
		opacity: 1;
	}
}
.price-box {
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
	text-align: center;
	box-shadow: 6px 6px 50px 0 rgba(0,0,0,0.1);
	&-header {
		background: $color-brand;
		padding: 50px 0;
		color: $color-inverse;
		font-weight: bold;
		.currency {
			font-size: 32px;
			vertical-align: 10px;
		}
		.price {
			font-size: 67px;
		}
		.period {
			font-size: 18px;
		}
	}
	&-content {
		padding: 50px;
		p {
			text-align: left;
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 50px;
		}
	}
}
.sliderAbout {
	// position: relative;
	.owl-nav {
		position: absolute;
		top: 50%;
		width: 100%;
	}
	.owl-prev, .owl-next {
		position: absolute;
		top: -50%;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background:#fff;
		line-height: 50px;
		text-align: center;
		box-shadow: 9px 0 9px rgba(0,0,0,0.1);
		color: $color-brand;
		font-size: 1.3em;
	}
	.owl-prev {
		left: -25px;
	}
	.owl-next {
		right: -25px;
	}
}
.slider-reviews {
	&-wrapper {
		padding: 30px 0;
	}
	&-item {
		padding: 50px;
		// box-shadow: 2px 0px 38px 13px rgba(0,0,0,0.1);
		background: #fff;
	}
	&-img {
		width: 150px;
		height: 150px;
		display: inline-block;
		border-radius: 100%;
		border: solid 10px #fff;
		box-shadow: 0px 0px 5px 0px #dadada;
		margin-right: 100px;
	}
	&-text {
		display: inline-block;
		width: 58%;
		font-style: italic;
		
		position: relative;
		&:after, &:before {
			content: '"';
			position: absolute;
			font-size: 60px;
			color: $color-brand;
		}
		&:after {
			left: -50px;
			top: -15px;
		}
		&:before {
			content: '"';
			right: 0;
			bottom: 0;
		}

	}
	&-sig {
		margin-top: 40px;
		font-style: normal;
		// position: relative;
		.name {
			font-size: 16px;
			color: $color-brand;
			font-weight: bold;
		}
		&:before {
			content: "";
			position: absolute;
			display: inline-block;
			left: -40px;
			bottom: 0;
			width: 2px;
			height: 75px;
			background: #d7d7d7;
		}
		
	}
	&-author {
			position: absolute;
			bottom: -4px;
			left: 375px;
			width: 22%;
			&-img {
				width: 64px;
				height: 64px;
				display: inline-block;
				border-radius: 32px;
				border: solid 5px #fff;
				box-shadow: 0px 0px 3px 0px #dadada;
				margin-right: 20px;
			}
			&-sig {
				display: inline-block;
				vertical-align: top;
				margin-top: 14px;
				font-size: 12px;	
				span {
					font-size: 14px;
					font-weight: bold;
				}
			}
		}
	.owl-nav {
		position: absolute;
		bottom: 44px;
		left: 325px;
		width: 30%;
	}
	.owl-prev, .owl-next {
		position: absolute;
		top: 0;
		width: 30px;
		height: 30px !important;
		border-radius: 15px;
		background:#fff;
		line-height: 30px;
		text-align: center;
		box-shadow: 9px 0 9px rgba(0,0,0,0.1);
		color: $color-brand;
		font-size: 1em;
	}
	.owl-prev {
		left: -25px;
	}
	.owl-next {
		right: -25px;
	}
	.owl-dots {
		position: absolute;
		top: 30%;
		right: -45px;
		.owl-dot {
			width: 20px;
			height: 20px;
			border-radius: 10px;
			border: solid 3px #d6d6d8;
			margin-bottom: 20px;

		}
		.active {
			border-color: $color-brand;
			// position: relative;
			span {
				display: inline-block;
				margin: 3px;
				vertical-align: top;
				width: 8px;
				height: 8px;
				border-radius: 4px;
				background: $color-brand;
			}
		}
	}
}
.footer {
	background: #5b6ceb;
	&-title {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 55px;
	}
	&-text {
		
		padding-right: 4%;
	}
	.social {
		margin: 55px 0;
			a {
			width: 25px;
			height: 25px;
			display: inline-block;
			margin-right: 5px;
			&:hover {
				opacity: 0.5;
			}
		}
	}
	&-bar {
		height: 100px;
		background-color: #5363d8;
		font-size: 16px;
		color: #b7bffc;
		text-align: center;
		line-height: 100px;
	}
	table {
		width: 100%;
	}
	tr {
		margin-bottom: 20px;
	}
	.space {
		height: 20px;
	}
	td {
		vertical-align: baseline;
		text-indent: -26px;
    	padding-left: 26px;
		span {
			margin-right: 5px;
			width: 20px;
		}
		.valign {
			vertical-align: -9px;
		}
	}
}
.highlight-bg {
	background: red !important;
}
.mobile {
		display: none;
		}